<head>
    <meta charset="UTF-8">
    <title>{{ book.title }}</title>
</head>
<body>
<h1>Title: {{ book.title }}</h1>
<img src="{{ book.image.url }}" height="200px"> <br><br>
<h4>Description: {{ book.description }}</h4>
<h4>ISBN: {{ book.ISBN }}</h4>
<h4>Language: {{ book.language }}</h4>
<h4>Price: {{ book.price }}</h4>
<h4>Pages: {{ book.pages }}</h4>
<h4>Category: {{ book.category }}</h4>

</body>
<a href="{% url 'Products:delete-book' book.pk %}" >Delete</a>
<h2>Reviews</h2>
<a href="{% url 'Products:add-review' book.pk %}" >Add Review</a>
{% for review in reviews %}
    <h4>{{ review.user.username }} | {{ review.star_given }}</h4>
    <p>{{ review.comment }}</p><hr>
{% endfor %}